<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.38">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.6.0"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.6.0">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.80">
    <script>pipeline {
  agent any
        // DISABLE_AUTH = &apos;true&apos;
        // DB_ENGINE    = &apos;sqlite&apos;
  stages {
    stage(&quot;build&quot;) {
      steps {
        script {
          def paramsJob = build(job: &quot;environ-demo&quot;)
          echo paramsJob.projectName
          echo paramsJob.env.DB_ENGINE
        //   build(
        //     job: &quot;clean-workspace-job&quot;,
        //     parameters: [
        //       [
        //         $class: &apos;BooleanParameterValue&apos;,
        //         name: &apos;DISABLE_AUTH&apos;,
        //         value: &quot;${paramsJob.buildVariables}&quot;
        //       ]
        //     ]
        //   )
        //   if (paramsJob.result == &apos;FAILURE&apos;) {
        //     error(&quot;${paramsJob.projectName} FAILED&quot;)
        //   }
        }
      }
    }
  }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>