<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.38">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.6.0"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.6.0">
      <jobProperties/>
      <triggers/>
      <parameters>
        <string>DB_ENGINE</string>
        <string>DISABLE_AUTH</string>
      </parameters>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description>This job will clean the workspace post successful job execution </description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>DB_ENGINE</name>
          <description>DB Engine</description>
          <defaultValue>postgres</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>DISABLE_AUTH</name>
          <description>True or False</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.80">
    <script>pipeline {
    agent {
        label &apos;master&apos;
    }

    parameters {
        string(name: &apos;DB_ENGINE&apos;, defaultValue: &apos;postgres&apos;, description: &apos;DB Engine&apos;)
        booleanParam(name: &apos;DISABLE_AUTH&apos;, defaultValue: false, description: &quot;True or False&quot;)
    }

    stages {
        stage(&apos;Build&apos;) {
            steps {
                echo &quot;Database engine is ${params.DB_ENGINE}&quot;
                echo &quot;DISABLE_AUTH is ${params.DISABLE_AUTH}&quot;
            }
        }
    }
    post { 
        always { 
            echo &apos;I will always run this!&apos;
            // cleanWs deleteDirs: false, notFailBuild: true
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>