<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.37">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@1.6.0"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@1.6.0">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.80">
    <script>// This script waits until a user inputs value at the stage
pipeline {
    agent {
        label &apos;windows&apos;
    }

    environment {
        DISABLE_AUTH = &apos;true&apos;
        DB_ENGINE    = &apos;sqlite&apos;
    }

    stages {
        stage(&apos;Build&apos;) {
            input{
                message &quot;Press Ok to continue&quot;
                submitter &quot;DB_ENGINE&quot;
                parameters {
                    string(name:&apos;DB_ENGINE&apos;, defaultValue: &apos;sqlite&apos;, description: &apos;Enter the db engine&apos;)
                }
            }
            steps {
                echo &quot;Database engine is ${DB_ENGINE}&quot;
                echo &quot;DISABLE_AUTH is ${DISABLE_AUTH}&quot;
            }
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>