<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.37">
  <actions/>
  <description>This job describes copying the file using configFileProvider</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.80">
    <script>pipeline {
    agent any
    stages {
        stage(&apos;Echo credentials&apos;) {
            steps {
                    configFileProvider([configFile(fileId: &apos;1a583362-97dd-4521-84b4-9040bbc850d6&apos;, variable: &apos;pemfile&apos;)]) {
                    sh &apos;echo $pemfile&apos;
                    sh &apos;cp $pemfile /home/ubuntu/jenkins/privatekey.pem&apos;
                    sh &apos;ls /home/ubuntu/jenkins/&apos;
                }
            }
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>